/* general/global */
body {
	margin: 0px;  /*removes white edges around the page */
	padding: 0px;	
}

html {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	font-size: 20px;	
	margin: 0px;
	padding:0px;
}

a {	
	text-decoration: none;
	color: #fff;
	display: block; /* make the entire div clickable. not quite the entire, why?.. ul, li, noe i det? */
}



/*top menu*/
#top_menu {
	width: 100%;
	height: 70px;
	color: #fff;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: #4388CC;
}

#home_button {
	width: 115px;
	height: ;
	float: left;
    background-color: #FF8136;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #FF8136;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 10px;
	margin-top: 10px;
}

#home_button:hover {
	background: #333032;
	color: #fff;
}

#current_topic {
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 20px;
}


#menu_button {

	float: right;
	box-sizing: border-box;
	
	margin: auto;
	padding: auto;
}

/*dropdown menu button*/
#menu_button ul {


	  
	  text-align: center;
	  display: inline;
	  margin: 0;
	 
	  list-style: none;
	  
}

#menu_button ul li {
		 
	  font: bold 12px/18px sans-serif;
	  display: inline-block;
	  margin-right: -4px;
	  position: relative;
	  padding: 15px 20px;
	  background: #FF8136;
	  cursor: pointer;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  -ms-transition: all 0.2s;
	  -o-transition: all 0.2s;
	  transition: all 0.2s;
	  
}

#menu_button ul li.top {
    background-color: #FF8136;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	margin-right: 10px;
	padding:;
}

#menu_button ul li:hover {
	  background: #333032;
	  color: #fff;
}

#menu_button ul li ul {
	  padding: 0px;
	  position: absolute;
	  top: 48px;
	  right: 10%;
	  width: 150px;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transiton: opacity 0.2s;
	  -moz-transition: opacity 0.2s;
	  -ms-transition: opacity 0.2s;
	  -o-transition: opacity 0.2s;
	  -transition: opacity 0.2s;
}

#menu_button ul li ul li { 
	  background: #FF8136; 
	  display: block; 
	  color: #fff;
	  
}

#menu_button ul li ul li:hover {
		background: #333032; 
}

#menu_button ul li:hover ul {
	display: block;
    opacity: 1;
	visibility: visible;
}


/*side menu*/
#side_menu {

	float: left;
	width: 13%; 
	height: 2000px;
	overflow: hidden;
	background-color: #333032;
	color: #000;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
}

#side_menu a { /*midlertidlig løsning*/
	color: #fff;
	
} 

#side_menu li:hover {	/* funker ikke uten javascript eller hvis man ikke har unik id for hver knapp og implimenterer #id:hover for alle */
	font-weight: bold;
	background-color: orange;	
}


.subjectList {
	margin: 10px;
	padding: 0px;	
}

.categoryList {
	margin: 10px;
	padding: 0px;	
}

.topicList {
	margin: 10px;
	padding: 0px;	
}

#add_lecture {
	width: 100px;
	height: ;
    background-color: #4388CC;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #4388CC;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 30px;

}


/*section and content of section*/
section {
	
	height: 2000px;
	width: 87%;
	float: left;
	box-sizing: border-box;
	padding: 25px;
	
	/*each line needed to accommodate several web browsers. inset instead of default outset, this way only needed on the section div*/
	-webkit-box-shadow: inset 6px 6px 12px -2px rgba(136,136,136,1);
	-moz-box-shadow: inset 6px 6px 12px -2px rgba(136,136,136,1);
	box-shadow: inset 6px 6px 12px -2px rgba(136,136,136,1);
}

#defaultSlide {
	float: left;
	width: 47%;
	height: 500px;
	margin-left: 20px;	
}

video {
	float: left;
	width: 47%;
	height: 500px;
	margin-right: 20px;

}

iframe {
	height: 500px;
	width: 47%;
	margin-top: 30px;

}

.subject {
	float: left;
	margin-left: 100px;
	margin-bottom: 100px;
}

.subject2 {
	position: relative;
	float: right;
	margin-right: 200px;
}

.caption {
	width: 300px;
}

.read_button {
	width: 70px;
	height: ;
    background-color: #4388CC;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #4388CC;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 30px;
}

.sub_button {
	width: 70px;
	height: ;
    background-color: #4388CC;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #FF8136;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 160px;
}

.subjectText {
	width: 50%;
}

#contentWrapper {
	width: 50%;
	position: relative;
	float: left;
	margin-left: 100px;
}

/*footer*/
footer {
	clear: both;
	color: #fff;
	height: 40px;
	overflow: hidden;	
	background-color: #4388CC;
}

footer ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

footer ul li {
	float: left;
	width: 33.2%;
	height: 20px;
	margin: auto;
	padding:auto;
	display: block;
	text-align: center;
}





.adminbox {
border: 1px solid #333032;
background-color: #fff;
height: 200px;
width: 350px;
margin-bottom: 20px;
display: inline-block;
margin-right: 20px;
float: left;
}

.headerbox {
background-color: #4388CC;
color: #fff;
height: 20px;
line-height: 20px;
padding: 10px;
}

.containerbox {
padding: 10px;

}