/* general/global */
body {
	margin: 0px;  /*removes white edges around the page */
	padding: 0px;
	/*font: 15px helvetica;*/
	background: whitesmoke;
	font-family: 'Roboto', sans-serif;
	
	
}
div {
  display: block;
}

/*hard code jquery? css(); if this onTarget=colorthis()...  so.. color1(){$(element1)css(color: red)} color2() etc. this requires unique names. since the eventhandler is not 
in the js but html, dont need function inside function, this etc. dont need to find the clicked element, since the right function(right operation/logic), is linked to the correct button onHover? 
not onClick, or onFocus rather?. side note: what happens when clicked? permanent coloring, coloring sticks?*/

.star:hover {
	color: red;
	cursor: pointer;
}
.star::before {/*content: "\e007";*/
color: red;}
.star::after {
   /* content: "\e007";*/
    color:#red;
}
html {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	
	margin: 0px;
	padding:0px;
}

a {	
	text-decoration: none;
	color: #fff;
	display: block; 
}

.black-text {
	color: #000;
}

/*top menu*/
#top_menu {
	width: 100%;
	height: 60px;
	color: #fff;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background: none repeat scroll 0% 0% #2C3E50;
	background: url(../mochaGrunge.png);
	background: #336699;
background: rgba(25,51,77,1);
background: -moz-linear-gradient(top, rgba(25,51,77,1) 0%, rgba(16,76,132,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,51,77,1)), color-stop(100%, rgba(16,76,132,1)));
background: -webkit-linear-gradient(top, rgba(25,51,77,1) 0%, rgba(16,76,132,1) 100%);
background: -o-linear-gradient(top, rgba(25,51,77,1) 0%, rgba(16,76,132,1) 100%);
background: -ms-linear-gradient(top, rgba(25,51,77,1) 0%, rgba(16,76,132,1) 100%);
background: linear-gradient(to bottom, rgba(25,51,77,1) 0%, rgba(16,76,132,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19334d', endColorstr='#104c84', GradientType=0 );
	background: rgb(184, 132, 209); /*browser compatibility*/
	background: rgba(184, 132, 209, 0.9);/* rgba for opacity*/
	background: #3A5795;
	border: 1px solid gray;
	
}

#logo_small {
	float: left;
	margin-left: 20px;
	height: 55px;	/*one pixel smaller because of the top menu border that's one pixel(and has border-box)*/
	margin-top: 0px;
}

.home_button {
	
	width: ;
	height: ;
	float: right;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	
	font: bold 12px/18px sans-serif;
	display: inline-block;
	
	
	padding: 15px 20px;
	background: #2F477A; /*23355B*/
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 0px;
	
}

.home_button:hover, .sub_button:hover, .read_button:hover {
	background: #333032;
	color: #fff;
}



#current_topic {
	float: left;
	
	font-weight: bold;
	margin-left: 40px;
	margin-top: 17px;
}

.currentTopic {
	float: left;
	
	font-weight: bold;
	margin-left: 15px;
	margin-top: 17px;
	

}


#searchboxdiv{
	float: right;
	margin-right: 35px;
	
}

#searchbox {
	position: relative;
	top: 5px;
	border-radius: 7px;
	border: none;
	font: bold 12px sans-serif;
	margin-right: -35px;
	padding: 16px 17px;
}

#searchicon {
	position: relative;
	right: 0px;
	top: 9px;
	width: 14px;
}

input[type=text]::-ms-clear {
	display: none; width : 0; height: 0;
	}
	
input[type=text]::-ms-reveal {
	display: none; width : 0; height: 0;
	}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
	}
	
input[type="search"] {
      -webkit-appearance: textfield;
	}

/*dropdown menu button*/
#menu_button {
	
	float: right;
	box-sizing: border-box;
	margin: auto;
	padding: auto;
	
}

#menu_button ul {
	
	text-align: center;
	display: inline;
	margin: 0px;
	padding: 0px;
	list-style: none; 
}

#menu_button ul li {
		 
	  font: bold 12px/18px sans-serif;
	  display: inline-block;
	  margin-right: -4px;
	  position: relative;
	  padding: 15px 20px;
	  background: #8C489F;
	  cursor: pointer;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  -ms-transition: all 0.2s;
	  -o-transition: all 0.2s;
	  transition: all 0.2s;
	  
}

#menu_button ul li.top {
    background: #2F477A url(../img/menu_icon.png) no-repeat center;
	background-size: 40px;

	height: 18px;
	width: 25px;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 0px;
	
}

#menu_button ul li:hover {
	  background: #2F477A;  /*#333032 backup gray colour*/
	  color: #fff;
}

#menu_button ul li ul {
	  padding: 0px;
	  position: absolute;
	  top: 48px;
	  right: 10%;
	  width: 150px;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  display: none;
	  -webkit-transiton: opacity 0.2s;
	  -moz-transition: opacity 0.2s;
	  -ms-transition: opacity 0.2s;
	  -o-transition: opacity 0.2s;
	  -transition: opacity 0.2s;
}

#menu_button ul li ul li { 
	  background: #2F477A; /*8C489F*/
	  display: block; 
	  color: #fff;
	  
}

#menu_button ul li ul li:hover {
		background: #333032; 
	
}

#menu_button ul li:hover ul {
	display: block;
    opacity: 1;
	visibility: visible;
}




/*side menu*/
#side_menu {
	
	
	box-sizing: border-box;
	float: left;
	width: 15%; 
	height: 2150px;
	
	background: whitesmoke;
	
	color: #fff;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;

}

#side_menu a { 


	color: #000;	
	box-sizing: border-box;
	height: 40px;
} 


#side_menu li a {

	
	text-decoration: none;
	box-sizing: border-box;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 35px;
	
	padding-right: 5px;
	display: block;
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#side_menu li a:hover {


	background: rgb(152,152,152); /*browser compatibility*/
	background: rgba(152,152,152, 0.3); /* rgba for opacity*/
	cursor: pointer;
	border-left: 10px solid #3A5795; /*#8C489F, backup purple colour*/
	box-sizing: border-box;
	text-decoration: none;
	padding-left: 0px; /*with or without movement?*/
	padding-right: 0px;
}
#side_menu li a:active {

    background-color: yellow;
}
#side_menu  ul  {

	margin: 0px;
	padding-right: ;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	/*short hand expert...*/
}


#side_menu .subjectList li {
	
	
	color:;
	
}

#side_menu .lectureList li {
	
	padding: 0px;
	
	color:;	
}


#side_menu .topicList li a{
	color: #3A5795;
}

#side_menu ul.topicList  {
	padding-bottom: 200px;
	
}

#side_menu #miscLinks a  { /*the bottom buttons on the studentpage */
	color: #000;
	
	
}

.nav_divider {
	margin: 12px 40px 0px 0px;
	border-top: 1px solid gray;
	height: 8px;
	
}

#side_menu .nav_divider {
	margin: 0px 0px 0px 0px;
	border-top: 1px solid gray;
	height: 0px;
	
}


#add_lecture {
	width: ;
	height: ;
    background-color: #4388CC;
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #4388CC;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 30px;

}


/*section and content of section*/
section {
	background: url(../lined_paper.png);
	width: 85%;
	border-left: solid 1px darkgray;
	height: auto;

	float: left;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 0px;
	margin: 0px;
	/*each line needed to accommodate several web browsers. inset instead of default outset, this way only needed on the section div*/
	/*-webkit-box-shadow: inset 0px 6px 12px -2px rgba(136,136,136,1);
	-moz-box-shadow: inset 0px 6px 12px -2px rgba(136,136,136,1);
	box-shadow: inset 0px 6px 12px -2px rgba(136,136,136,1);*/
}



#defaultSlide {
	float: left;
	width: 45%;
	height: 400px;
	
	padding-right: 0px;
	
}

#leftArrow {
	width: 2%;
	float: left;
	margin-top: 200px;
}

#rightArrow{
	width: 2%;
	float: left;
	margin-top: 200px;
}

video {
	float: left;
	width: 45%;
	height: 400px;
	margin-right: 40px;
	/*border: 7px solid red;*/
	/*background: #3A5795;*/
	
}

iframe {
	
	float: left;
	height: 500px;
	width: 45%;
	margin-top: 30px;
	border: 2px solid gray;
}


/*content wrappers for all pages*/
/*#studentContentWrapper {
	width: 1570px;
	margin: auto;
	
}*/


/*#topbarWrapper {
	width: 1900px;
	margin: auto;

}

#studentNavWrapper {
	width: 300px;
	margin: auto;
}
*/



#commentsboxWrapper {

	clear: both;
	
}

#transcript {
	height: 110px;
	width: 100%;
	float: left;
	background: whitesmoke;
	overflow: scroll;
	box-sizing: border-box;
	margin-bottom: 20px;
}


#row1 {
	float: left;
	width: 45%;
	
}


#defaultWiki {
	margin-left: 55px;
	margin-right: 10px;
	padding-right: 0px;
	width: 45%;
	height: 430px;
	float: left;
	box-sizing: border-box;
}

#commentsBox {
	width: 100%;
	height: 300px;
	clear: both;
	margin-top: 30px;
	box-sizing: border-box;
	border: 2px solid gray;
	background: whitesmoke;
	/*overflow-y: scroll;  auto*/ 
	padding-top: 0px;
	box-sizing: border-box;
}





#commentsBox #header {
	width: auto;
	height: auto;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 33px;
	box-sizing: border-box;
	background: whitesmoke;
}


nav {
	visibility: none;
}
section #commentsBox .nav_divider {
	margin: 0px 0px 0px 0px;
	height: 0px;
	clear: both;
}

#commentsBox textarea {
	border: 1px solid gray;
	
	
	box-sizing: border-box;
	float: left;
	width: 90%;
	height: 50px;
	margin: 0x;
	padding: 0px;
	resize: none;
	
	margin-left: 33px;
} 



#commentsBox #commentButton {
	margin-left: 33px;
	margin-bottom: 30px;
	margin-top: 10px;
	/*margin-left: 200px;*/
	
	
	
	

}

#comment { 		/*add class(with height, background etc), append not append after*/
	min-height: 80px; /*allows for expanding? depending on the comment length. */					
	width: 100%;
	/*display: none;*/
	box-sizing: border-box;
	border: 1px solid #DDD;
	padding: 0px;
	clear: both;
}


#rate {    /*favourite etc*/
	clear: both;
	margin: 3px;
	padding-top: 20px;
}
  


/*teacher page*/
#lectureMetaData {
	clear: both;
	margin-top: 20px;
}

.topicInput {
	margin-right: 20px;
	

}

input[name=upload_lecture], input[name=newTopic] { 		/*clear: both;*/
	margin-top: 20px;
	width: 120px;
	height: 40px;
	background: #336699;
	border: #333032;
	color: #fff;
}

.timeStamps {
	
}

.nr {
	/*float: left; for topic nr test*/ 
}


/*indexpage*/

#indexContentWrapper {
	width: 100%;
	margin: auto;
	height: auto;
	box-sizing: border-box;

	
}

.subject {
	width: 33.33%;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 350px;
	float: left;
	box-sizing: border-box;
}

.subject2 {
	position: relative;
	float: right;
	margin-right: 10px;
}

.thumbnail {
	width: 100%;
	height: 250px;
	
	box-sizing: border-box;
	
}
.subject2 .thumbnail {
	width: 325px;
	height: 250px;
	
	box-sizing: border-box;
	
}

img.thumbnail {
	border: 1px solid #2F477A;

	
}
img.thumbnail:hover {
	border: 2px solid #2F477A;

}

.caption {
	line-height: 1.3em;
	margin-bottom: 50px;
}

.caption p {
	line-height: 1.5em;
	height: 100px;
	margin-bottom: 70px;
}

.read_button {

	
	
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:  0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	padding:;
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #2F477A;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 45px;
	opacity: 0.9;
}

.sub_button {
	
	
	border-radius: 7px; 
    -moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow:  inset 0 0 5px rgba(0, 0, 0, 0.15);
	text-align: center;
	
	font: bold 12px/18px sans-serif;
	display: inline-block;
	position: absolute;
	padding: 15px 20px;
	background: #2F477A;
	
	color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 175px;
	opacity: 0.9;
	
}

.subjectText {
	width: 50%;
}

.contentWrapper p {
	line-height: 1.3em;
}

/*subject page*/
.contentWrapper {
	width: 50%;
	position: relative;
	float: left;
	margin-left: 10px;
	
}

/*login page section*/
form[name=login] {
	margin-left: 450px;
	margin-top: 300px;

}

form[name=register] {
	width: 400px; 
}

#registerWrapper {
	width: 400px;
	margin: auto;
	padding: auto;
	margin-top: 100px;
	height: auto;
	
}


#logo {
	margin-top: 140px;
	margin-left: 50px;
	float: left;
	width: 300px;	
}

input[name=userid]{
	width: 200px;

}

input[name=pswrd] {
	width: 200px;

}

#errorFeedback{
	color: red;

}

/*footer*/
footer {
	clear: both;
	color: #fff;
	height: 200px;
	overflow: hidden;	
	background-color: #141314;
}

footer h3  {
	margin-top: 30px;
	margin-left: 39%;
}

footer a {
	
	float: left;
	margin: 20px;
}

#footerContentWrapper { /* this is useless in it's current state, but much better to use to centre content, improve. misaligned because of footer padding/margin? auto/0px? */
	margin: auto;
	padding: auto;
}

#socialmedia {
	clear: both;
	margin-left: 47.5%;
	
}

footer h4 {
	color: darkgray;
	text-align: center;
} 


/*admin page*/
.adminbox {
	border: 1px solid #333032;
	background-color: #fff;
	height: 160px;
	width: 350px;
	margin-bottom: 20px;
	display: inline-block;
	margin-right: 20px;
	float: left;
	
}

.adminboxBig {
	border: 1px solid #333032;
	background-color: #fff;
	height: 320px;
	width: 350px;
	margin-bottom: 20px;
	display: inline-block;
	margin-right: 20px;
	float: left;
	
}

.headerbox {
	background-color: #336699;
	color: #fff;
	height: 20px;
	padding: 10px;
}

.containerbox {
	padding-left: 10px;
	padding-top: 5px;


}

.containerbox h4 {
	margin-top: 2px;
	padding-top: 2px;
	
}



#teacherbox {
	margin-top: 0px;
	padding-top: 0px;
	
	height: 115px;
	overflow-y: scroll;

}

.containerbox h4 p {
	margin: 0px;
	padding: 0px;

}

